[submodule "ext/libsfz"]
	path = ext/libsfz
	url = git://github.com/sfiera/libsfz.git
[submodule "ext/libzipxx"]
	path = ext/libzipxx
	url = git://github.com/sfiera/libzipxx.git
[submodule "ext/libpng-gyp"]
	path = ext/libpng-gyp
	url = https://github.com/sfiera/libpng-gyp.git
[submodule "ext/gmock-gyp"]
	path = ext/gmock
	url = https://github.com/sfiera/gmock-gyp.git
[submodule "build/lib"]
	path = build/lib
	url = https://github.com/sfiera/gn-tools
